body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.times{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-left: 5px solid rgb(241, 178, 99);
}
.mission22{
    display: flex;
}
.sector1{
   width: 50%;
   padding-left: 5%;
}
.sector1 img{
    width: 50%;
    padding-left: 10%;
}
a{
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding: 4px 6px;
    background-image: linear-gradient(brown, green);
    border-radius: 8px;
}
span{
    color: darkgreen;
}
#scroll{
    padding-left: 5%;
}
#another-heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}
.sector2{
    width: 50%;
    margin: 5%;
    padding-left: 3%;
    border-radius: 50px;
 }
 .sector2 img{
     width: 65%;
     padding-left: 10%;
 }
 #sector2-1{
     background-color: lightgray;
     margin: 4%;
     padding: 5%;
 }
 #sector2-2{
     background-color: lightgreen;
     margin: 4%;
     padding: 5%;
 }
 #sector2-3{
     background-color: lightseagreen;
     margin: 4%;
     padding: 5%;
 }
 .sector3{
   width: 50%;
   margin-left: 5%;
   margin-top: 5%;
 }
 .sector3 img{
    width: 70%;
    margin-left: 24%;
 }
 #sector3-2{
     margin-right: 25%;
 }
 #sector3-1{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
 }
.sector4{
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
}
.sector4 img{
    width: 55%;
    margin-right: 24%;
}
#sector4-2{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: right;
}
#another-heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}
.sector5{
   width: 50%;
   margin-left: 5%;
   margin-top: 2%;
   
}
.sector5 img{
    width: 70%;
    margin-left: 32%;
}
#sector5-2{
    margin-right: 25%;
    margin-top: 13%;
}
footer{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#finish{
    font-weight: 800;
    font-size: 15px;
}
#end{
    color: yellow;
}